---
import Card from '../components/Card.astro';
const projects = [
    {
        link     :"https://www.brandoptics.com/meet-in-the-wild?hsLang=en",
        imgSrc   :"https://www.brandoptics.com/hs-fs/hubfs/Frame%201686560322.webp",
        imgAlt   :"Frame 1686560322",
        imgWidth :1700,
        imgHeight:1408,
        heading  :"Meet in the wild",
        description:"Website",
    },
    {
        link: "https://www.brandoptics.com/cyl?hsLang=en",
        imgSrc: "https://www.brandoptics.com/hs-fs/hubfs/cyl.webp",
        imgAlt: "cyl",
        imgWidth: 852,
        imgHeight: 704,
        heading: "CYL",
        description: "Website"
    },
    {
        link: "https://www.brandoptics.com/xficient?hsLang=en",
        imgSrc: "https://www.brandoptics.com/hs-fs/hubfs/xfcient.webp",
        imgAlt: "xfcient",
        imgWidth: 850,
        imgHeight: 704,
        heading: "Xficient",
        description: "Product Design"
    },
    {
        link: "https://www.brandoptics.com/mount-up-media?hsLang=en",
        imgSrc: "https://www.brandoptics.com/hs-fs/hubfs/mountupmedia.webp",
        imgAlt: "mountupmedia",
        imgWidth: 852,
        imgHeight: 704,
        heading: "Mount Up Media",
        description: "Website"
    },
    {
        link: "https://www.brandoptics.com/groove-control-studios?hsLang=en",
        imgSrc: "https://www.brandoptics.com/hs-fs/hubfs/GSC.webp",
        imgAlt: "GSC",
        imgWidth: 850,
        imgHeight: 704,
        heading: "Groove Control Studio",
        description: "Website, Logo"
    },
    {
        link: "https://www.brandoptics.com/style-forward?hsLang=en",
        imgSrc: "https://www.brandoptics.com/hs-fs/hubfs/styleforward.webp",
        imgAlt: "styleforward",
        imgWidth: 850,
        imgHeight: 704,
        heading: "STYL/FWRD",
        description: "Website"
    },
    {
        link: "https://www.brandoptics.com/edgc?hsLang=en",
        imgSrc: "https://www.brandoptics.com/hs-fs/hubfs/edgc-1.webp?width=852&height=704&name=edgc-1.webp",
        imgAlt: "Live Relentless",
        imgWidth: 852,
        imgHeight: 704,
        heading: "Live Relentless",
        description: "Logo"
    },
    {
        link: "https://www.brandoptics.com/main-street-annex?hsLang=en",
        imgSrc: "https://www.brandoptics.com/hs-fs/hubfs/mainstreet.webp?width=852&height=704&name=mainstreet.webp",
        imgAlt: "Main Street Annex",
        imgWidth: 852,
        imgHeight: 704,
        heading: "Main Street Annex",
        description: "Website, Logo"
    },
    {
        link: "https://www.brandoptics.com/mck-restaurant?hsLang=en",
        imgSrc: "https://www.brandoptics.com/hs-fs/hubfs/MCKrestuarant.webp?width=850&height=704&name=MCKrestuarant.webp",
        imgAlt: "MCK",
        imgWidth: 850,
        imgHeight: 704,
        heading: "MCK",
        description: "Website"
    },
    {
        link: "https://www.brandoptics.com/guardian-healthlink?hsLang=en",
        imgSrc: "https://www.brandoptics.com/hs-fs/hubfs/guardianhealth.webp?width=850&amp;height=704&amp;name=guardianhealth.webp",
        imgAlt: "Guardian HealthLink",
        imgWidth: 850,
        imgHeight: 704,
        heading: "Guardian HealthLink",
        description: "Website, Branding"
    },
    {
        link: "https://www.brandoptics.com/market-by-winnies?hsLang=en",
        imgSrc: "https://www.brandoptics.com/hs-fs/hubfs/winnies%20market.webp?width=850&amp;height=704&amp;name=winnies%20market.webp",
        imgAlt: "Market By Winnies",
        imgWidth: 850,
        imgHeight: 704,
        heading: "Market By Winnies",
        description: "Website, Branding"
    },
    {
    link: "https://www.brandoptics.com/cs-kitchen?hsLang=en",
    imgSrc: "https://www.brandoptics.com/hs-fs/hubfs/cskitchen.webp",
    imgAlt: "CS Kitchen",
    imgWidth: 850,
    imgHeight: 704,
    heading: "CS Kitchen",
    description: "Website, Logo"
},
{
    link: "https://www.brandoptics.com/saf-salt?hsLang=en",
    imgSrc: "https://www.brandoptics.com/hs-fs/hubfs/safsalt.webp",
    imgAlt: "SafSalt",
    imgWidth: 850,
    imgHeight: 704,
    heading: "SafSalt",
    description: "Website, Logo, Label"
},
{
    link: "https://www.brandoptics.com/splish-naturals?hsLang=en",
    imgSrc: "https://www.brandoptics.com/hs-fs/hubfs/splish.webp",
    imgAlt: "Splish Naturals",
    imgWidth: 850,
    imgHeight: 704,
    heading: "Splish Naturals",
    description: "Website, Logo"
},
{
    link: "https://www.brandoptics.com/emgenex?hsLang=en",
    imgSrc: "https://www.brandoptics.com/hs-fs/hubfs/Frame%201686559932.webp",
    imgAlt: "Frame 1686559932",
    imgWidth: 1302,
    imgHeight: 1072,
    heading: "Emgenex",
    description: "Product Design"
},
{
    link: "https://www.brandoptics.com/winnies-restaurant?hsLang=en",
    imgSrc: "https://www.brandoptics.com/hs-fs/hubfs/winniesmanayunk.webp",
    imgAlt: "winniesmanayunk",
    imgWidth: 850,
    imgHeight: 704,
    heading: "Winnie's",
    description: "Website"
},
{
    link: "https://www.brandoptics.com/twisted-gingers?hsLang=en",
    imgSrc: "https://www.brandoptics.com/hs-fs/hubfs/twisted-b.webp",
    imgAlt: "twisted-b",
    imgWidth: 852,
    imgHeight: 704,
    heading: "Twisted Gingers",
    description: "Media"
},
{
    link: "https://www.brandoptics.com/studio-alchemy?hsLang=en",
    imgSrc: "https://www.brandoptics.com/hs-fs/hubfs/Studio%20alchemy-1.webp",
    imgAlt: "Studio alchemy-1",
    imgWidth: 852,
    imgHeight: 704,
    heading: "Studio Alchemy",
    description: "Website, Logo"
  },
  {
    link: "https://www.brandoptics.com/esaradhi?hsLang=en",
    imgSrc: "https://www.brandoptics.com/hs-fs/hubfs/esaradhi.webp",
    imgAlt: "esaradhi",
    imgWidth: 852,
    imgHeight: 704,
    heading: "eSaradhi",
    description: "Digital Product, Logo"
  },
  {
    link: "https://www.brandoptics.com/madabolic?hsLang=en",
    imgSrc: "https://www.brandoptics.com/hs-fs/hubfs/Frame%201686560391%20(2).webp",
    imgAlt: "Frame 1686560391 (2)",
    imgWidth: 1275,
    imgHeight: 1056,
    heading: "Madabolic",
    description: "Media"
  },
  {
    link: "https://www.brandoptics.com/cheek?hsLang=en",
    imgSrc: "https://www.brandoptics.com/hs-fs/hubfs/cheek.webp",
    imgAlt: "cheek",
    imgWidth: 850,
    imgHeight: 704,
    heading: "Cheek",
    description: "Logo"
  }
];
---

 <head> 
  <meta charset="utf-8"> 
  <title>brandOptics | Works</title> 
  <link rel="shortcut icon" href="https://www.brandoptics.com/hubfs/favicon.png"> 
  <meta name="description" content="Explore our portfolio, showcasing captivating brand stories and immersive digital experiences. Witness how we help brands to shine in the digital realm."> 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <meta property="og:description" content="Explore our portfolio, showcasing captivating brand stories and immersive digital experiences. Witness how we help brands to shine in the digital realm."> 
  <meta property="og:title" content="brandOptics | Works"> 
  <meta name="twitter:description" content="Explore our portfolio, showcasing captivating brand stories and immersive digital experiences. Witness how we help brands to shine in the digital realm."> 
  <meta name="twitter:title" content="brandOptics | Works"> 
  <style>
a.cta_button{-moz-box-sizing:content-box !important;-webkit-box-sizing:content-box !important;box-sizing:content-box !important;vertical-align:middle}.hs-breadcrumb-menu{list-style-type:none;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px}.hs-breadcrumb-menu-item{float:left;padding:10px 0px 10px 10px}.hs-breadcrumb-menu-divider:before{content:'›';padding-left:10px}.hs-featured-image-link{border:0}.hs-featured-image{float:right;margin:0 0 20px 20px;max-width:50%}@media (max-width: 568px){.hs-featured-image{float:none;margin:0;width:100%;max-width:100%}}.hs-screen-reader-text{clip:rect(1px, 1px, 1px, 1px);height:1px;overflow:hidden;position:absolute !important;width:1px}
</style> 
  <link rel="stylesheet" href="https://www.brandoptics.com/hs-fs/hubfs/hub_generated/template_assets/1/154167879713/1735558680647/template_main.min.css"> 
  <link rel="stylesheet" href="https://www.brandoptics.com/hs-fs/hub/44154404/hub_generated/template_assets/182016373561/1730107047998/brandOptics/css/owl.carousel.min.css"> 
  <link rel="stylesheet" href="https://www.brandoptics.com/hs-fs/hub/44154404/hub_generated/template_assets/182015918211/1730107067008/brandOptics/css/owl.theme.green.min.css"> 
  <link rel="stylesheet" href="https://www.brandoptics.com/hs-fs/hubfs/hub_generated/template_assets/1/154167879722/1735648651931/template_theme-overrides.css"> 
  <link rel="stylesheet" href="https://www.brandoptics.com/hs-fs/hub/44154404/hub_generated/template_assets/157627907975/1730459559730/brandOptics/css/responsive.min.css"> 
  <link rel="stylesheet" href="https://www.brandoptics.com/hs-fs/hubfs/hub_generated/module_assets/1/181799023892/1735803803263/module_V2About_Banner.min.css"> 
  <link rel="stylesheet" href="https://www.brandoptics.com/hs-fs/hubfs/hub_generated/module_assets/1/181799023890/1735804643603/module_V2Work_New_Design.min.css"> 
  <link rel="stylesheet" href="https://www.brandoptics.com/hs-fs/hub/44154404/hub_generated/module_assets/181799023887/1732862567685/module_181799023887_V2Work_Bottom_Banner.min.css"> 
  <style>
  @font-face {
    font-family: "Lato";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/_hcms/googlefonts/Lato/regular.woff2") format("woff2"), url("/_hcms/googlefonts/Lato/regular.woff") format("woff");
  }
  @font-face {
    font-family: "Merriweather";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/_hcms/googlefonts/Merriweather/regular.woff2") format("woff2"), url("/_hcms/googlefonts/Merriweather/regular.woff") format("woff");
  }
  @font-face {
    font-family: "Merriweather";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/_hcms/googlefonts/Merriweather/700.woff2") format("woff2"), url("/_hcms/googlefonts/Merriweather/700.woff") format("woff");
  }
</style> 
  <!-- Editor Styles --> 
  <style id="hs_editor_style" type="text/css">
.dnd_area-row-0-force-full-width-section > .row-fluid {
  max-width: none !important;
}
.dnd_area-row-1-force-full-width-section > .row-fluid {
  max-width: none !important;
}
.dnd_area-row-2-force-full-width-section > .row-fluid {
  max-width: none !important;
}
/* HubSpot Styles (default) */
.dnd_area-row-0-padding {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.dnd_area-row-0-background-layers {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)) !important;
  background-position: left top !important;
  background-size: auto !important;
  background-repeat: no-repeat !important;
}
.dnd_area-row-1-padding {
  padding-top: 0px !important;
  padding-bottom: 200px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.dnd_area-row-1-background-layers {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)) !important;
  background-position: left top !important;
  background-size: auto !important;
  background-repeat: no-repeat !important;
}
.dnd_area-row-2-padding {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.widget_1730112853782-hidden {
  display: block !important;
}
/* HubSpot Styles (mobile) */
@media (max-width: 767px) {
  .dnd_area-row-1-padding {
    padding-bottom: 80px !important;
  }
  .widget_1730112853782-hidden {
    display: none !important;
  }
}
</style> 
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q10NVB0HB9"></script> 
  <!-- /Added by GoogleAnalytics4 integration --> 
  <link rel="canonical" href="../../../com/brandoptics/www/work.html"> 
  <meta property="og:url" content="https://www.brandoptics.com/work"> 
  <script>var hsVars = { app_hs_base_url: 'https://app.hubspot.com' };</script> 
  <meta name="twitter:card" content="summary"> 
  <meta http-equiv="content-language" content="en"> 
  <link href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" rel="stylesheet" />
  <meta name="generator" content="HubSpot">
 </head> 
 <main>
    
   <div class="cursor"> 
   <div class="cursor__circle"></div> 
  </div> 
  <div class="body-wrapper   hs-content-id-154610739104 hs-site-page page "> 
   <div data-global-resource-path="brandOptics/templates/partials/header.html"> 
    <header> 
     <div class="container"> 
      <nav class="navbar navbar-expand-lg"> 
       <!--         <a class="navbar-brand" href="#">
          <img src="resources/images/Logo.svg" alt="logo" />
        </a> --> 
       <div id="hs_cos_wrapper_site_logo" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-logo" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module"> 
        <span id="hs_cos_wrapper_site_logo_hs_logo_widget" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_logo" style="" data-hs-cos-general-type="widget" data-hs-cos-type="logo"><a href="../../../com/brandoptics/www/index.html" id="hs-link-site_logo_hs_logo_widget" style="border-width:0px;border:0px;"><img src="https://www.brandoptics.com/hubfs/Asset%203%204.svg" class="hs-image-widget " height="26" style="height: auto;width:150px;border-width:0px;border:0px;" width="150" alt="Asset 3 4" title="Asset 3 4"></a></span> 
       </div> 
       <a href="../../../com/brandoptics/www/index.html" class="mob-logo" id="navbarSupportedContent"> 
        <svg width="24" height="28" viewbox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg"> 
         <path d="M6.80578 27.1036C5.81069 26.5047 5.04696 25.7012 4.51179 24.6863C4.61213 25.3383 4.66416 25.9494 4.66416 26.5199V27.2988H0V0H4.66416V9.12518C4.66416 9.54117 4.61213 10.1647 4.51179 10.9967C5.83857 8.75942 7.81294 7.64222 10.4386 7.64222C11.9689 7.64222 13.3774 8.05821 14.6642 8.88923C15.9511 9.72121 16.9768 10.9123 17.7433 12.4578C18.5071 14.0062 18.8908 15.8056 18.8908 17.86C18.8908 19.9143 18.5349 21.7479 17.8195 23.2811C17.1041 24.8171 16.1127 25.9864 14.838 26.7909C13.5632 27.5973 12.124 28.0009 10.5176 28.0009C9.03937 28.0009 7.80365 27.7034 6.80856 27.1045M12.7753 22.4832C13.6942 21.3006 14.1504 19.7589 14.1504 17.8628C14.1504 15.9667 13.6915 14.4184 12.7753 13.2206C11.8565 12.0257 10.6848 11.4269 9.25864 11.4269C7.83245 11.4269 6.66362 12.0257 5.75959 13.2206C4.85277 14.4155 4.40308 15.9639 4.40308 17.8628C4.40308 19.7618 4.85649 21.2694 5.75959 22.4642C6.66362 23.6591 7.83152 24.258 9.25864 24.258C10.6858 24.258 11.8602 23.6686 12.7753 22.4832Z" fill="#fff" /> 
         <path d="M21.7867 27.2115H21.7273C20.5046 27.2115 19.5132 26.2004 19.5132 24.9534C19.5132 23.7064 20.5046 22.6953 21.7273 22.6953H21.7867C23.0094 22.6953 24.0008 23.7064 24.0008 24.9534C24.0008 26.2004 23.0094 27.2115 21.7867 27.2115Z" fill="#fff" /> 
        </svg> </a> 
       <button class="ham-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" aria-haspopup="true"> <span aria-hidden="true"></span> <span aria-hidden="true"></span> </button> 
       <!--         <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <div id="hamburger-icon">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          </div>
          </button> --> 
       <div class="collapse navbar-collapse ms-auto" id="navbarSupportedContent"> 
        <div class="nav-wrapper"> 
         <div class="navbar-nav ms-auto mb-2 mb-lg-0"> 
          <span id="hs_cos_wrapper_my_menu" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_menu" style="" data-hs-cos-general-type="widget" data-hs-cos-type="menu">
           <div id="hs_menu_wrapper_my_menu" class="hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal" role="navigation" data-sitemap-name="Default" data-menu-id="155644226962" aria-label="Navigation Menu"> 
            <ul role="menu" class="active-branch"> 
             <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="../../../com/brandoptics/www/index.html" role="menuitem">Home</a></li> 
             <li class="hs-menu-item hs-menu-depth-1 active active-branch" role="none"><a href="../../../com/brandoptics/www/work.html" role="menuitem">Work</a></li> 
             <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="../../../com/brandoptics/www/design.html" role="menuitem">Design</a></li> 
             <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="../../../com/brandoptics/www/development.html" role="menuitem">Development</a></li> 
             <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="../../../com/brandoptics/www/digital-marketing.html" role="menuitem">Digital Marketing</a></li> 
             <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="../../../com/brandoptics/www/about.html" role="menuitem">About</a></li> 
             <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="https://www.brandoptics.com/blog" role="menuitem">Blog</a></li> 
             <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="../../../com/brandoptics/www/contact.html" role="menuitem">Contact</a></li> 
            </ul> 
           </div></span> 
         </div> 
         <ul class="sm-responsive"> 
          <li> <a href="https://www.facebook.com/brandopticsofficial/?show_switched_toast=0&amp;show_invite_to_follow=0&amp;show_switched_tooltip=0&amp;show_podcast_settings=0&amp;show_community_review_changes=0&amp;show_community_rollback=0&amp;show_follower_visibility_disclosure=0" target="_blank"> 
            <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> 
             <path d="M14.4502 6H12.3586C12.3539 5.99997 12.3491 6.00019 12.3444 6.00068C10.2327 6.00774 9.9569 7.57146 9.95579 8.93819C9.95286 8.95113 9.95137 8.96438 9.95135 8.97769V9.93714H8.50616C8.46412 9.93714 8.4238 9.95485 8.39408 9.98637C8.36436 10.0179 8.34766 10.0606 8.34766 10.1052V12.4714C8.34766 12.516 8.36436 12.5587 8.39408 12.5903C8.4238 12.6218 8.46412 12.6395 8.50616 12.6395H9.95135V17.8319C9.95135 17.8765 9.96805 17.9192 9.99777 17.9508C10.0275 17.9823 10.0678 18 10.1098 18H12.219C12.261 18 12.3013 17.9823 12.3311 17.9508C12.3608 17.9192 12.3775 17.8765 12.3775 17.8319V12.6397H14.45C14.4921 12.6397 14.5324 12.622 14.5621 12.5904C14.5918 12.5589 14.6085 12.5162 14.6085 12.4716V10.1054C14.6085 10.0608 14.5918 10.0181 14.5621 9.98654C14.5324 9.95501 14.4921 9.93731 14.45 9.93731H12.219V8.66538H14.45C14.4921 8.66538 14.5324 8.64767 14.5621 8.61615C14.5918 8.58463 14.6085 8.54187 14.6085 8.49729V6.16809C14.6085 6.14603 14.6045 6.12417 14.5965 6.10378C14.5886 6.08339 14.5769 6.06486 14.5622 6.04925C14.5475 6.03364 14.53 6.02125 14.5108 6.0128C14.4916 6.00435 14.471 6 14.4502 6Z" fill="black" /> 
            </svg> </a> <a href="https://twitter.com/i/flow/login?redirect_after_login=%2Fbrandopticscom" target="_blank"> 
            <svg width="23" height="24" viewbox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg"> 
             <path fill-rule="evenodd" clip-rule="evenodd" d="M16.6922 7.28155C16.2096 7.56189 15.6677 7.76408 15.0995 7.87492C14.6494 7.39911 13.9957 7.10547 13.2685 7.10547C11.8938 7.10547 10.77 8.19463 10.77 9.53133C10.77 9.72705 10.8034 9.90975 10.843 10.0859C8.76111 9.988 6.917 9.02278 5.68752 7.54888C5.47609 7.91409 5.34406 8.32505 5.34406 8.76846C5.34406 9.61625 5.83557 10.3596 6.49638 10.7902C6.0868 10.7837 5.65738 10.6726 5.40864 10.4901V10.5227C5.40864 10.8357 5.42605 11.1228 5.53808 11.3966C5.84249 12.1598 6.51543 12.7335 7.35483 12.8966C7.13639 12.9553 6.91441 12.9876 6.68323 12.9876C6.52458 12.9876 6.36066 12.9682 6.20834 12.9356C6.53249 13.9009 7.4484 14.6052 8.53923 14.6312C7.67978 15.2834 6.60791 15.668 5.43799 15.668C5.23273 15.668 5.04075 15.655 4.83594 15.6355C5.94606 16.3203 7.26105 16.7247 8.66897 16.7247C12.5751 16.7247 14.9753 14.0572 15.6029 11.2856C15.7156 10.7902 15.7562 10.301 15.7562 9.81845V9.50537C16.2537 9.15974 16.6802 8.72919 17.0108 8.24666C16.5677 8.43594 16.0913 8.56637 15.5823 8.63141C16.1045 8.32505 16.5067 7.85538 16.6922 7.28155Z" fill="black" /> 
            </svg> </a> <a href="https://www.instagram.com/brandopticsofficial/" target="_blank"> 
            <svg width="23" height="24" viewbox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg"> 
             <path d="M10.5002 6.99079C11.9677 6.99079 12.1425 6.99648 12.7217 7.02304C13.2577 7.04769 13.5497 7.13645 13.7428 7.21194C13.9829 7.3007 14.198 7.44105 14.3755 7.62464C14.5575 7.80217 14.6986 8.01762 14.7874 8.25697C14.8632 8.45081 14.9524 8.74289 14.9759 9.27811C15.0036 9.85772 15.0085 10.0318 15.0085 11.5006C15.0085 12.9686 15.0036 13.143 14.9759 13.7223C14.9528 14.2583 14.8632 14.5503 14.7874 14.7434C14.6023 15.2232 14.2226 15.6026 13.7428 15.7881C13.5497 15.8639 13.2569 15.9531 12.7217 15.9766C12.1429 16.0043 11.9681 16.0092 10.5002 16.0092C9.03155 16.0092 8.85821 16.0043 8.27789 15.9766C7.74194 15.9534 7.45064 15.8639 7.25682 15.7881C7.01748 15.6997 6.80242 15.559 6.62415 15.3761C6.44171 15.1997 6.30137 14.9831 6.21185 14.7434C6.13675 14.5503 6.04762 14.2575 6.02334 13.7223C5.99641 13.1434 5.9911 12.9686 5.9911 11.5006C5.9911 10.0318 5.99641 9.85848 6.02334 9.27811C6.048 8.74251 6.13637 8.45081 6.21185 8.25697C6.30061 8.018 6.44095 7.80254 6.62453 7.62464C6.80204 7.44181 7.01748 7.30108 7.25682 7.21194C7.45064 7.13683 7.74232 7.04769 8.27789 7.02304C8.85821 6.99686 9.03117 6.99079 10.5002 6.99079ZM10.5002 6C9.00614 6 8.81952 6.00683 8.23237 6.03338C7.64712 6.06031 7.2481 6.15287 6.89838 6.28867C6.53046 6.42712 6.19858 6.64333 5.92359 6.92327C5.64291 7.19828 5.42747 7.53019 5.28827 7.89776C5.15324 8.24749 5.05993 8.6473 5.033 9.23259C5.00683 9.81865 5 10.006 5 11.4998C5 12.9928 5.00683 13.181 5.03338 13.767C5.06031 14.3523 5.15324 14.7514 5.28865 15.1026C5.42709 15.4698 5.64329 15.8025 5.92321 16.0767C6.1982 16.357 6.53009 16.5729 6.89762 16.7113C7.24734 16.8464 7.64712 16.9404 8.23161 16.9659C8.81952 16.9947 9.00538 17 10.4998 17C11.9942 17 12.1809 16.9943 12.768 16.9659C13.3525 16.9408 13.7515 16.8468 14.1031 16.7113C14.8416 16.4253 15.4254 15.8412 15.7114 15.1026C15.8464 14.7514 15.9405 14.3523 15.9659 13.7674C15.9947 13.181 16 12.9932 16 11.5002C16 10.0064 15.9943 9.81941 15.9659 9.23297C15.9408 8.6473 15.8468 8.24825 15.7114 7.89813C15.5733 7.53019 15.3567 7.19828 15.0768 6.92327C14.8022 6.64333 14.4695 6.4275 14.1028 6.28867C13.7515 6.15325 13.3525 6.06031 12.7676 6.03338C12.1812 6.00645 11.9931 6 10.5002 6ZM10.4607 8.62606C8.91207 8.62606 7.65622 9.88124 7.65622 11.4312C7.65622 12.9799 8.91207 14.2344 10.4607 14.2344C12.0094 14.2344 13.2664 12.9796 13.2664 11.4312C13.2664 9.88086 12.0094 8.62606 10.4607 8.62606ZM10.4607 13.2515C9.45598 13.2515 8.64012 12.4364 8.64012 11.4308C8.64012 10.4248 9.45598 9.61002 10.4607 9.61002C11.4666 9.61002 12.2817 10.4252 12.2817 11.4308C12.2817 12.4367 11.4666 13.2515 10.4607 13.2515ZM13.3764 7.86058C13.739 7.86058 14.0307 8.15304 14.0307 8.51529C14.0307 8.87755 13.739 9.17039 13.3764 9.17039C13.0153 9.17039 12.7202 8.87679 12.7202 8.51529C12.7202 8.15266 13.0149 7.86058 13.3764 7.86058Z" fill="black" /> 
            </svg> </a> </li> 
          <li> <a class="mail-link" href="../../../com/brandoptics/www/index.html">hey@brandoptics.com</a> </li> 
         </ul> 
        </div> 
       </div> 
      </nav> 
     </div> 
    </header> 
    <!-- <header class="header"> --> 
    <!--   <a href="#main-content" class="header__skip">Skip to content</a> --> 
    <!--   <div class="header__container content-wrapper"> --> 
    <!--     <div class="header__column"> --> 
   </div> 
   <main id="main-content" class="body-container-wrapper"> 
    <div class="container-fluid"> 
     <div class="row-fluid-wrapper"> 
      <div class="row-fluid"> 
       <div class="span12 widget-span widget-type-cell " style="" data-widget-type="cell" data-x="0" data-w="12"> 
        <div class="row-fluid-wrapper row-depth-1 row-number-1 dnd_area-row-0-background-color dnd_area-row-0-force-full-width-section dnd_area-row-0-background-layers dnd-section dnd_area-row-0-padding"> 
         <div class="row-fluid "> 
          <div class="span12 widget-span widget-type-cell dnd-column" style="" data-widget-type="cell" data-x="0" data-w="12"> 
           <div class="row-fluid-wrapper row-depth-1 row-number-2 dnd-row"> 
            <div class="row-fluid "> 
             <div class="span12 widget-span widget-type-custom_widget dnd-module" style="" data-widget-type="custom_widget" data-x="0" data-w="12"> 
              <div id="hs_cos_wrapper_widget_1730098483529" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module">
               <div class="work-banner-main-outer about-banner align-items-center"> 
                <div class="container"> 
                 <div class="row align-items-center"> 
                  <div class="col-12 col-md-7"> 
                   <h1 class="swift-up-text">We bring your boldest ideas to life</h1> 
                   <p> </p>
                   <p><span>by seamlessly blending creativity</span></p> 
                   <p></p> 
                  </div> 
                  <div class="col-12 col-md-5"> 
                   <div class="banner-logo"> 
                    <div class="rotation-box"> 
                    </div> 
                   </div> 
                  </div> 
                 </div> 
                </div> 
               </div>
              </div> 
             </div>
             <!--end widget-span --> 
            </div>
            <!--end row--> 
           </div>
           <!--end row-wrapper --> 
          </div>
          <!--end widget-span --> 
         </div>
         <!--end row--> 
        </div>
        <!--end row-wrapper --> 
        <div class="row-fluid-wrapper row-depth-1 row-number-3 dnd_area-row-1-padding dnd_area-row-1-background-color dnd-section dnd_area-row-1-background-layers dnd_area-row-1-force-full-width-section"> 
         <div class="row-fluid "> 
          <div class="span12 widget-span widget-type-cell dnd-column" style="" data-widget-type="cell" data-x="0" data-w="12"> 
           <div class="row-fluid-wrapper row-depth-1 row-number-4 dnd-row"> 
            <div class="row-fluid "> 
             <div class="span12 widget-span widget-type-custom_widget dnd-module" style="" data-widget-type="custom_widget" data-x="0" data-w="12"> 
              <div id="hs_cos_wrapper_widget_1730098824780" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module">
               <div class="container work-listing-outer px-0"> 
                <div class="work-listing-inner"> 
                 <div class="tabs"> 
                  <div class="tab-nav-outer"> 
                   <!--         <div class="tab-title">
          Category
        </div> --> 
                   <ul class="tabs-nav"> 
                    <li><a href="/work?hsLang=en" data-filter="*">All Works</a></li> 
                    <li><a href="/work-websites?hsLang=en" data-filter="work-websites">Websites</a></li> 
                    <li><a href="/work-branding?hsLang=en" data-filter="work-branding">Branding</a></li> 
                    <li><a href="/work-media?hsLang=en" data-filter="work-websites">Media</a></li> 
                    <li><a href="/work-digital-product?hsLang=en" data-filter="work-digital-product">Digital Product</a></li> 
                   </ul> 
                  </div> 
                 </div> 
                </div> 
               </div> 
               <section class="container portfolio " id="worklisting"> 
                <div class="row" id="data-container"> 
                  {projects.map(project => (
                      <Card
                    link={project.link}
                    imgSrc={project.imgSrc}
                    imgAlt={project.imgAlt}
                    imgWidth={project.imgWidth}
                    imgHeight={project.imgHeight}
                    heading={project.heading}
                    description={project.description}
                  />
                  ))}
                </div> 
               </section>
              </div> 
             </div>
             <!--end widget-span --> 
            </div>
            <!--end row--> 
           </div>
           <!--end row-wrapper --> 
          </div>
          <!--end widget-span --> 
         </div>
         <!--end row--> 
        </div>
        <!--end row-wrapper --> 
        <div class="row-fluid-wrapper row-depth-1 row-number-5 dnd_area-row-2-force-full-width-section dnd_area-row-2-padding dnd-section"> 
         <div class="row-fluid "> 
          <div class="span12 widget-span widget-type-cell dnd-column" style="" data-widget-type="cell" data-x="0" data-w="12"> 
           <div class="row-fluid-wrapper row-depth-1 row-number-6 dnd-row"> 
            <div class="row-fluid "> 
             <div class="span12 widget-span widget-type-custom_widget widget_1730112853782-hidden dnd-module" style="" data-widget-type="custom_widget" data-x="0" data-w="12"> 
              <div id="hs_cos_wrapper_widget_1730112853782" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module">
               <!-- sections --> 
               <section class="cta-section" style="background-image: url('https://www.brandoptics.com/hubfs/Group%20805-1.webp');"> 
                <div class="container"> 
                 <div class="row"> 
                  <div class="col-11 offset-1 col-lg-5 offset-lg-7 button-sec"> 
                   <h3>MAKE YOUR MARK.</h3> 
                   <div class="btn-common"> 
                    <a class="btn-wrapper" href="../../../com/brandoptics/www/work.html"> 
                     <div class="btn-icon"> 
                      <!--                   <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1381_2056)">
                    <circle cx="16" cy="16" r="15.5" stroke="#B8B8B8"/>
                    <path d="M16.3528 12.1177L19.8822 15.6471M19.8822 15.6471L16.3528 19.1765M19.8822 15.6471H11.4116" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_1381_2056">
                    <rect width="32" height="32" fill="white"/>
                    </clipPath>
                    </defs>
                  </svg> --> 
                      <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"> 
                       <rect width="12" height="12" rx="6" fill="white" /> 
                      </svg> 
                     </div> <span class="btn-text">MAKE AN APPOINTMENT WITH US</span> </a> 
                   </div> 
                  </div> 
                 </div> 
                </div> 
               </section> 
               <!-- sections --> 
               <style>
@media only screen and (max-width: 750px) {
  .cta-section{
    background-image: url('https://www.brandoptics.com/hubfs/Group%20804-4.webp') !important;
  }
}
</style>
              </div> 
             </div>
             <!--end widget-span --> 
            </div>
            <!--end row--> 
           </div>
           <!--end row-wrapper --> 
          </div>
          <!--end widget-span --> 
         </div>
         <!--end row--> 
        </div>
        <!--end row-wrapper --> 
       </div>
       <!--end widget-span --> 
      </div> 
     </div> 
    </div> 
   </main> 
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> 
   <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script> 
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script> 
   <div data-global-resource-path="brandOptics/templates/partials/footer.html">
    <style>
  /*******footer section style**********/ 
body{
    font-family: "Pretendard" !important;
}     
 footer{
    background: #000000;
    padding: 80px 0 0;
 }
 footer .button-sec{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 47px;
 }
  .border-b-1{
    border-bottom: .5px solid #767676;
  }
 footer .foot-rone{
    padding-bottom: 80px;
 }
 footer .foot-rone h5{
   color: #FFF;
   font-family: Pretendard;
   font-size: 72px;
   font-style: normal;
   font-weight: 700;
   line-height: 58px; /* 80.556% */
   text-transform: uppercase;
 }
 footer .foot-rone a {
    color: #FFF;
}
footer .link .color{
    background-color: #FFF;
}
footer .link:hover{
    color: #000;
}
.foot-rtwo {
    padding: 80px 0 0;
}
.foot-rtwo h5  {
    color: #FFF;
    font-family: Pretendard;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px; /* 72.222% */
    text-transform: uppercase;
}
.foot-rtwo h6{
    color: #FFF;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 108.333% */
    margin-top: 16px;
    position: relative;
    width: fit-content;
    margin-bottom: 80px;
}
.foot-rtwo h6::after {
    content: "";
    width: 100%;
    height: 1px;
    background: #4E4E4E;
    position: absolute;
    bottom: -7px;
    left: 0;
    
}
  .foot-rtwo h6:hover::after {
    background:#fff;
  }  
.foot-rtwo p{
  color: #6C6C6C;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-bottom: 48px;
}
.footer-menu {
    float: right;
    padding-right: 0px;
}
ul{
    list-style-type: none;
}
/*   .footer-menu ul{
   column-count:2;
    column-gap:77px;
  } */
.footer-menu ul li{
    margin: 18px 0 0;
}
.footer-menu ul li:nth-child(1) {
    margin: 0px;
}
.footer-menu ul li a {
   color: #FFF;
   font-family: Pretendard;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 26px; /* 162.5% */
   position: relative;
   width: fit-content;
   padding: 0px;
    margin: 0;
}
  .footer-menu ul li a:hover{
     color:#fff;
  }
.footer-menu ul li a::after {
    content: "";
    width: 100%;
    height: 1px;
    background: #4E4E4E;
    position: absolute;
    bottom: -7px;
    right: 0;
    
}
  .footer-menu ul li a:hover::after {
     background: #fff;
  }
.foot-rone .common-btn .btn{
  color:#fff;
  }
  .foot-rone .common-btn .btn:before {
    background: #fff;
  }
  .foot-rone .common-btn .btn:hover {
    color: #000 !important;
}
  .copyright{
     display: inline-flex;
    align-items: baseline;
  }
  .copyright ul{
     display: inline-flex;
     padding-left:0px;
  }
  .copyright ul a{
     color: #6C6C6C;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 0px;
    padding-left: 25px;
  }
  .copyright ul a:hover{
    color: #6C6C6C;}
   .copyright ul .nav-link:focus{
    color: #6C6C6C;}
@media screen and (max-width: 767px) {
    footer{
        padding: 48px 0 0;
    }
    footer .foot-rone h5 {
        font-size: 32px;
        line-height: 32px;
    }
    footer .button-sec{
        justify-content: left;
        margin-top: 24px;
    }
    footer .foot-rone {
        padding-bottom: 48px;
    }  
    .foot-rtwo .mob-col {
        order: 2;
    }
    .footer-menu{
        float: left;
    }
  .footer-menu ul {
    margin-bottom: 25px;
  }
    .foot-rtwo ul{
        padding-left: 0px;
    }
    .foot-rtwo h5{
        font-size: 48px;
        line-height: 48px;
        margin-top: 48px;
    }
    .foot-rtwo h6{
        margin-top: 8px;
        margin-bottom: 32px;
        font-size: 16px;
    }
    .foot-rtwo p{
        margin-bottom: 32px;
    }
  .say-hi .copyright{
    display:none;
  }
  .mob-sm .copyright{
    display: inline-grid;
  }
  .mob-sm .copyright p{
    order:2;
  }
  .mob-sm .copyright ul{
    display:block;
    margin-bottom: 0px;
  }
  .mob-sm .copyright ul a{
   padding-left:0px;
   padding-bottom:15px; 
  }
}

@media screen and (min-width: 768px) and (max-width: 999px) {
    footer .foot-rone h5{
        font-size: 40px;
        line-height: 45px;
    }
    .foot-rtwo h5{
        font-size: 60px;
    }
  .say-hi .copyright{
    display:none;
  }
   .foot-rtwo{
      padding-top: 48px!important;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
    footer .foot-rone h5{
        font-size: 60px;
        line-height: 65px;
    }
    
    
    
}
  footer .btn-common .btn-text{
    color: #fff !important;
  }
  footer .btn-common .btn-icon svg path{
    stroke: #fff !important;
  }
  
  @media (max-width: 992px){
/*     .foot-rone, .foot-border {
      display: none;
    } */
   
    .social-icons svg{
      width: 40px;
      height: 40px;
    }
    .social-icons {
      margin-left: -13px;
      margin-bottom: 16px;
    }
  }
  footer .btn-wrapper:hover svg{
		stroke: #000 !important;
		fill: #fff !important;
	}
	footer .btn-wrapper:hover svg path{
		stroke: #000 !important;
	}
  footer .btn-wrapper:hover .btn-icon svg circle {
    stroke: unset !important;
    fill: unset !important;
}
/********End footer section style**********/
</style> 
    <footer> 
     <div class="container"> 
      <div class="row foot-rone"> 
       <div class="col-lg-6 col-md-6 col-xs-12"> 
        <h5>See Beyond.<br> —Be Beyond.</h5> 
       </div> 
       <div class="col-lg-6 col-md-6 col-xs-12 button-sec"> 
        <div class="btn-common"> 
         <a href="https://dev.brandoptics.com/cta?hsLang=en" class="btn-wrapper"> 
          <div class="btn-icon"> 
           <svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"> 
            <g clip-path="url(#clip0_1381_2056)"> 
             <circle cx="16" cy="16" r="15.5" stroke="#B8B8B8"></circle> 
             <path d="M16.3528 12.1177L19.8822 15.6471M19.8822 15.6471L16.3528 19.1765M19.8822 15.6471H11.4116" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"></path> 
            </g> 
            <defs> 
             <clippath id="clip0_1381_2056"> 
              <rect width="32" height="32" fill="white"></rect> 
             </clippath> 
            </defs> 
           </svg> 
          </div> <span class="btn-text">START A PROJECT</span> </a> 
        </div> 
       </div> 
      </div> 
      <div class="row foot-border"> 
       <div class="col-12"> 
        <div class="w-100  border-b-1"> 
        </div> 
       </div> 
      </div> 
      <div class="row foot-rtwo"> 
       <div class="col-lg-6 col-md-6 col-xs-12 say-hi"> 
        <h5>SAY HI!</h5> 
        <h6><a href="../../../com/brandoptics/www/index.html">hey@brandoptics.com</a></h6> 
        <div class="social-icons"> 
         <a href="https://www.facebook.com/brandopticsofficial/?show_switched_toast=0&amp;show_invite_to_follow=0&amp;show_switched_tooltip=0&amp;show_podcast_settings=0&amp;show_community_review_changes=0&amp;show_community_rollback=0&amp;show_follower_visibility_disclosure=0" target="_blank"> 
          <svg width="32" height="32" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> 
           <path d="M14.4502 6H12.3586C12.3539 5.99997 12.3491 6.00019 12.3444 6.00068C10.2327 6.00774 9.9569 7.57146 9.95579 8.93819C9.95286 8.95113 9.95137 8.96438 9.95135 8.97769V9.93714H8.50616C8.46412 9.93714 8.4238 9.95485 8.39408 9.98637C8.36436 10.0179 8.34766 10.0606 8.34766 10.1052V12.4714C8.34766 12.516 8.36436 12.5587 8.39408 12.5903C8.4238 12.6218 8.46412 12.6395 8.50616 12.6395H9.95135V17.8319C9.95135 17.8765 9.96805 17.9192 9.99777 17.9508C10.0275 17.9823 10.0678 18 10.1098 18H12.219C12.261 18 12.3013 17.9823 12.3311 17.9508C12.3608 17.9192 12.3775 17.8765 12.3775 17.8319V12.6397H14.45C14.4921 12.6397 14.5324 12.622 14.5621 12.5904C14.5918 12.5589 14.6085 12.5162 14.6085 12.4716V10.1054C14.6085 10.0608 14.5918 10.0181 14.5621 9.98654C14.5324 9.95501 14.4921 9.93731 14.45 9.93731H12.219V8.66538H14.45C14.4921 8.66538 14.5324 8.64767 14.5621 8.61615C14.5918 8.58463 14.6085 8.54187 14.6085 8.49729V6.16809C14.6085 6.14603 14.6045 6.12417 14.5965 6.10378C14.5886 6.08339 14.5769 6.06486 14.5622 6.04925C14.5475 6.03364 14.53 6.02125 14.5108 6.0128C14.4916 6.00435 14.471 6 14.4502 6Z" fill="#fff" /> 
          </svg> </a> 
         <a href="https://twitter.com/i/flow/login?redirect_after_login=%2Fbrandopticscom" target="_blank"> 
          <!--                   <svg
                  width="31"
                  height="32"
                  viewBox="0 0 23 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path 
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M16.6922 7.28155C16.2096 7.56189 15.6677 7.76408 15.0995 7.87492C14.6494 7.39911 13.9957 7.10547 13.2685 7.10547C11.8938 7.10547 10.77 8.19463 10.77 9.53133C10.77 9.72705 10.8034 9.90975 10.843 10.0859C8.76111 9.988 6.917 9.02278 5.68752 7.54888C5.47609 7.91409 5.34406 8.32505 5.34406 8.76846C5.34406 9.61625 5.83557 10.3596 6.49638 10.7902C6.0868 10.7837 5.65738 10.6726 5.40864 10.4901V10.5227C5.40864 10.8357 5.42605 11.1228 5.53808 11.3966C5.84249 12.1598 6.51543 12.7335 7.35483 12.8966C7.13639 12.9553 6.91441 12.9876 6.68323 12.9876C6.52458 12.9876 6.36066 12.9682 6.20834 12.9356C6.53249 13.9009 7.4484 14.6052 8.53923 14.6312C7.67978 15.2834 6.60791 15.668 5.43799 15.668C5.23273 15.668 5.04075 15.655 4.83594 15.6355C5.94606 16.3203 7.26105 16.7247 8.66897 16.7247C12.5751 16.7247 14.9753 14.0572 15.6029 11.2856C15.7156 10.7902 15.7562 10.301 15.7562 9.81845V9.50537C16.2537 9.15974 16.6802 8.72919 17.0108 8.24666C16.5677 8.43594 16.0913 8.56637 15.5823 8.63141C16.1045 8.32505 16.5067 7.85538 16.6922 7.28155Z"
                    fill="#fff"
                  />
                </svg> --> 
          <svg width="12" height="12" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"> 
           <g clip-path="url(#clip0_741_90)"> 
            <path d="M5.9309 4.23432L9.57358 0H8.71038L5.54745 3.6766L3.02122 0H0.107513L3.92767 5.55967L0.107513 10H0.97076L4.3109 6.11739L6.97878 10H9.89249L5.93069 4.23432H5.9309ZM4.74857 5.60865L4.36151 5.05503L1.2818 0.649837H2.6077L5.09306 4.20497L5.48012 4.75859L8.71079 9.37971H7.38489L4.74857 5.60886V5.60865Z" fill="white" /> 
           </g> 
           <defs> 
            <clippath id="clip0_741_90"> 
             <rect width="12" height="12" fill="white" /> 
            </clippath> 
           </defs> 
          </svg> </a> 
         <a href="https://www.instagram.com/brandopticsofficial/" target="_blank"> 
          <svg width="31" height="32" viewbox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg"> 
           <path d="M10.5002 6.99079C11.9677 6.99079 12.1425 6.99648 12.7217 7.02304C13.2577 7.04769 13.5497 7.13645 13.7428 7.21194C13.9829 7.3007 14.198 7.44105 14.3755 7.62464C14.5575 7.80217 14.6986 8.01762 14.7874 8.25697C14.8632 8.45081 14.9524 8.74289 14.9759 9.27811C15.0036 9.85772 15.0085 10.0318 15.0085 11.5006C15.0085 12.9686 15.0036 13.143 14.9759 13.7223C14.9528 14.2583 14.8632 14.5503 14.7874 14.7434C14.6023 15.2232 14.2226 15.6026 13.7428 15.7881C13.5497 15.8639 13.2569 15.9531 12.7217 15.9766C12.1429 16.0043 11.9681 16.0092 10.5002 16.0092C9.03155 16.0092 8.85821 16.0043 8.27789 15.9766C7.74194 15.9534 7.45064 15.8639 7.25682 15.7881C7.01748 15.6997 6.80242 15.559 6.62415 15.3761C6.44171 15.1997 6.30137 14.9831 6.21185 14.7434C6.13675 14.5503 6.04762 14.2575 6.02334 13.7223C5.99641 13.1434 5.9911 12.9686 5.9911 11.5006C5.9911 10.0318 5.99641 9.85848 6.02334 9.27811C6.048 8.74251 6.13637 8.45081 6.21185 8.25697C6.30061 8.018 6.44095 7.80254 6.62453 7.62464C6.80204 7.44181 7.01748 7.30108 7.25682 7.21194C7.45064 7.13683 7.74232 7.04769 8.27789 7.02304C8.85821 6.99686 9.03117 6.99079 10.5002 6.99079ZM10.5002 6C9.00614 6 8.81952 6.00683 8.23237 6.03338C7.64712 6.06031 7.2481 6.15287 6.89838 6.28867C6.53046 6.42712 6.19858 6.64333 5.92359 6.92327C5.64291 7.19828 5.42747 7.53019 5.28827 7.89776C5.15324 8.24749 5.05993 8.6473 5.033 9.23259C5.00683 9.81865 5 10.006 5 11.4998C5 12.9928 5.00683 13.181 5.03338 13.767C5.06031 14.3523 5.15324 14.7514 5.28865 15.1026C5.42709 15.4698 5.64329 15.8025 5.92321 16.0767C6.1982 16.357 6.53009 16.5729 6.89762 16.7113C7.24734 16.8464 7.64712 16.9404 8.23161 16.9659C8.81952 16.9947 9.00538 17 10.4998 17C11.9942 17 12.1809 16.9943 12.768 16.9659C13.3525 16.9408 13.7515 16.8468 14.1031 16.7113C14.8416 16.4253 15.4254 15.8412 15.7114 15.1026C15.8464 14.7514 15.9405 14.3523 15.9659 13.7674C15.9947 13.181 16 12.9932 16 11.5002C16 10.0064 15.9943 9.81941 15.9659 9.23297C15.9408 8.6473 15.8468 8.24825 15.7114 7.89813C15.5733 7.53019 15.3567 7.19828 15.0768 6.92327C14.8022 6.64333 14.4695 6.4275 14.1028 6.28867C13.7515 6.15325 13.3525 6.06031 12.7676 6.03338C12.1812 6.00645 11.9931 6 10.5002 6ZM10.4607 8.62606C8.91207 8.62606 7.65622 9.88124 7.65622 11.4312C7.65622 12.9799 8.91207 14.2344 10.4607 14.2344C12.0094 14.2344 13.2664 12.9796 13.2664 11.4312C13.2664 9.88086 12.0094 8.62606 10.4607 8.62606ZM10.4607 13.2515C9.45598 13.2515 8.64012 12.4364 8.64012 11.4308C8.64012 10.4248 9.45598 9.61002 10.4607 9.61002C11.4666 9.61002 12.2817 10.4252 12.2817 11.4308C12.2817 12.4367 11.4666 13.2515 10.4607 13.2515ZM13.3764 7.86058C13.739 7.86058 14.0307 8.15304 14.0307 8.51529C14.0307 8.87755 13.739 9.17039 13.3764 9.17039C13.0153 9.17039 12.7202 8.87679 12.7202 8.51529C12.7202 8.15266 13.0149 7.86058 13.3764 7.86058Z" fill="#fff" /> 
          </svg> </a> 
        </div> 
        <div class="copyright"> 
         <p>© <script>document.write( +(new Date).getFullYear());</script> brandOptics</p> 
         <ul> 
          <li class="nav-item"> <a class="nav-link" href="https://www.brandoptics.com/terms-and-conditions?hsLang=en">Terms &amp; Conditions</a> </li> 
          <li class="nav-item"> <a class="nav-link" href="https://www.brandoptics.com/privacy-policy?hsLang=en">Privacy Policy</a> </li> 
         </ul> 
        </div> 
        <!--                <p>© <script>document.write( +(new Date).getFullYear());</script> brandOptics</p>
               <ul>
                    
             </ul>   --> 
       </div> 
       <div class="col-lg-5 col-md-5 col-xs-12 col-6"> 
        <div class="footer-menu"> 
         <ul> 
          <li class="nav-item"> <a class="nav-link" href="https://dev.brandoptics.com?hsLang=en">Home</a> </li> 
          <li class="nav-item"> <a class="nav-link" href="https://dev.brandoptics.com/design?hsLang=en">Design</a> </li> 
          <li class="nav-item"> <a class="nav-link" href="https://dev.brandoptics.com/development?hsLang=en">Development</a> </li> 
          <li class="nav-item"> <a class="nav-link" href="https://dev.brandoptics.com/digital-marketing?hsLang=en">Digital Marketing</a> </li> 
          <!--                      <li class="nav-item">
                       <a class="nav-link"  href="https://dev.brandoptics.com/work">Work</a>
                     </li>

                     <li class="nav-item">
                       <a class="nav-link"  href="https://dev.brandoptics.com/about">About</a>
                     </li>
                     <li class="nav-item">
                       <a class="nav-link"  href="https://dev.brandoptics.com/blog">Blog</a>
                     </li>
                     <li class="nav-item">
                       <a class="nav-link"  href="https://dev.brandoptics.com/contact">Contact</a>
                     </li> --> 
         </ul> 
        </div> 
       </div> 
       <div class="col-lg-1 col-md-1 col-xs-12 col-6"> 
        <div class="footer-menu"> 
         <ul> 
          <li class="nav-item"> <a class="nav-link" href="https://dev.brandoptics.com/work?hsLang=en">Work</a> </li> 
          <!--                      <li class="nav-item">
                       <a class="nav-link"  href="https://dev.brandoptics.com/services">Services</a>
                     </li>  --> 
          <li class="nav-item"> <a class="nav-link" href="https://dev.brandoptics.com/about?hsLang=en">About</a> </li> 
          <li class="nav-item"> <a class="nav-link" href="https://dev.brandoptics.com/blog?hsLang=en">Blog</a> </li> 
          <li class="nav-item"> <a class="nav-link" href="https://dev.brandoptics.com/contact?hsLang=en">Contact</a> </li> 
         </ul> 
        </div> 
       </div> 
       <div class="col-12 mob-sm"> 
        <div class="social-icons"> 
         <a href="https://www.facebook.com/brandopticsofficial/?show_switched_toast=0&amp;show_invite_to_follow=0&amp;show_switched_tooltip=0&amp;show_podcast_settings=0&amp;show_community_review_changes=0&amp;show_community_rollback=0&amp;show_follower_visibility_disclosure=0" target="_blank"> 
          <svg width="32" height="32" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> 
           <path d="M14.4502 6H12.3586C12.3539 5.99997 12.3491 6.00019 12.3444 6.00068C10.2327 6.00774 9.9569 7.57146 9.95579 8.93819C9.95286 8.95113 9.95137 8.96438 9.95135 8.97769V9.93714H8.50616C8.46412 9.93714 8.4238 9.95485 8.39408 9.98637C8.36436 10.0179 8.34766 10.0606 8.34766 10.1052V12.4714C8.34766 12.516 8.36436 12.5587 8.39408 12.5903C8.4238 12.6218 8.46412 12.6395 8.50616 12.6395H9.95135V17.8319C9.95135 17.8765 9.96805 17.9192 9.99777 17.9508C10.0275 17.9823 10.0678 18 10.1098 18H12.219C12.261 18 12.3013 17.9823 12.3311 17.9508C12.3608 17.9192 12.3775 17.8765 12.3775 17.8319V12.6397H14.45C14.4921 12.6397 14.5324 12.622 14.5621 12.5904C14.5918 12.5589 14.6085 12.5162 14.6085 12.4716V10.1054C14.6085 10.0608 14.5918 10.0181 14.5621 9.98654C14.5324 9.95501 14.4921 9.93731 14.45 9.93731H12.219V8.66538H14.45C14.4921 8.66538 14.5324 8.64767 14.5621 8.61615C14.5918 8.58463 14.6085 8.54187 14.6085 8.49729V6.16809C14.6085 6.14603 14.6045 6.12417 14.5965 6.10378C14.5886 6.08339 14.5769 6.06486 14.5622 6.04925C14.5475 6.03364 14.53 6.02125 14.5108 6.0128C14.4916 6.00435 14.471 6 14.4502 6Z" fill="#fff" /> 
          </svg> </a> 
         <a href="https://twitter.com/i/flow/login?redirect_after_login=%2Fbrandopticscom" target="_blank"> 
          <svg width="31" height="32" viewbox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg"> 
           <path fill-rule="evenodd" clip-rule="evenodd" d="M16.6922 7.28155C16.2096 7.56189 15.6677 7.76408 15.0995 7.87492C14.6494 7.39911 13.9957 7.10547 13.2685 7.10547C11.8938 7.10547 10.77 8.19463 10.77 9.53133C10.77 9.72705 10.8034 9.90975 10.843 10.0859C8.76111 9.988 6.917 9.02278 5.68752 7.54888C5.47609 7.91409 5.34406 8.32505 5.34406 8.76846C5.34406 9.61625 5.83557 10.3596 6.49638 10.7902C6.0868 10.7837 5.65738 10.6726 5.40864 10.4901V10.5227C5.40864 10.8357 5.42605 11.1228 5.53808 11.3966C5.84249 12.1598 6.51543 12.7335 7.35483 12.8966C7.13639 12.9553 6.91441 12.9876 6.68323 12.9876C6.52458 12.9876 6.36066 12.9682 6.20834 12.9356C6.53249 13.9009 7.4484 14.6052 8.53923 14.6312C7.67978 15.2834 6.60791 15.668 5.43799 15.668C5.23273 15.668 5.04075 15.655 4.83594 15.6355C5.94606 16.3203 7.26105 16.7247 8.66897 16.7247C12.5751 16.7247 14.9753 14.0572 15.6029 11.2856C15.7156 10.7902 15.7562 10.301 15.7562 9.81845V9.50537C16.2537 9.15974 16.6802 8.72919 17.0108 8.24666C16.5677 8.43594 16.0913 8.56637 15.5823 8.63141C16.1045 8.32505 16.5067 7.85538 16.6922 7.28155Z" fill="#fff" /> 
          </svg> </a> 
         <a href="https://www.instagram.com/brandopticsofficial/" target="_blank"> 
          <svg width="31" height="32" viewbox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg"> 
           <path d="M10.5002 6.99079C11.9677 6.99079 12.1425 6.99648 12.7217 7.02304C13.2577 7.04769 13.5497 7.13645 13.7428 7.21194C13.9829 7.3007 14.198 7.44105 14.3755 7.62464C14.5575 7.80217 14.6986 8.01762 14.7874 8.25697C14.8632 8.45081 14.9524 8.74289 14.9759 9.27811C15.0036 9.85772 15.0085 10.0318 15.0085 11.5006C15.0085 12.9686 15.0036 13.143 14.9759 13.7223C14.9528 14.2583 14.8632 14.5503 14.7874 14.7434C14.6023 15.2232 14.2226 15.6026 13.7428 15.7881C13.5497 15.8639 13.2569 15.9531 12.7217 15.9766C12.1429 16.0043 11.9681 16.0092 10.5002 16.0092C9.03155 16.0092 8.85821 16.0043 8.27789 15.9766C7.74194 15.9534 7.45064 15.8639 7.25682 15.7881C7.01748 15.6997 6.80242 15.559 6.62415 15.3761C6.44171 15.1997 6.30137 14.9831 6.21185 14.7434C6.13675 14.5503 6.04762 14.2575 6.02334 13.7223C5.99641 13.1434 5.9911 12.9686 5.9911 11.5006C5.9911 10.0318 5.99641 9.85848 6.02334 9.27811C6.048 8.74251 6.13637 8.45081 6.21185 8.25697C6.30061 8.018 6.44095 7.80254 6.62453 7.62464C6.80204 7.44181 7.01748 7.30108 7.25682 7.21194C7.45064 7.13683 7.74232 7.04769 8.27789 7.02304C8.85821 6.99686 9.03117 6.99079 10.5002 6.99079ZM10.5002 6C9.00614 6 8.81952 6.00683 8.23237 6.03338C7.64712 6.06031 7.2481 6.15287 6.89838 6.28867C6.53046 6.42712 6.19858 6.64333 5.92359 6.92327C5.64291 7.19828 5.42747 7.53019 5.28827 7.89776C5.15324 8.24749 5.05993 8.6473 5.033 9.23259C5.00683 9.81865 5 10.006 5 11.4998C5 12.9928 5.00683 13.181 5.03338 13.767C5.06031 14.3523 5.15324 14.7514 5.28865 15.1026C5.42709 15.4698 5.64329 15.8025 5.92321 16.0767C6.1982 16.357 6.53009 16.5729 6.89762 16.7113C7.24734 16.8464 7.64712 16.9404 8.23161 16.9659C8.81952 16.9947 9.00538 17 10.4998 17C11.9942 17 12.1809 16.9943 12.768 16.9659C13.3525 16.9408 13.7515 16.8468 14.1031 16.7113C14.8416 16.4253 15.4254 15.8412 15.7114 15.1026C15.8464 14.7514 15.9405 14.3523 15.9659 13.7674C15.9947 13.181 16 12.9932 16 11.5002C16 10.0064 15.9943 9.81941 15.9659 9.23297C15.9408 8.6473 15.8468 8.24825 15.7114 7.89813C15.5733 7.53019 15.3567 7.19828 15.0768 6.92327C14.8022 6.64333 14.4695 6.4275 14.1028 6.28867C13.7515 6.15325 13.3525 6.06031 12.7676 6.03338C12.1812 6.00645 11.9931 6 10.5002 6ZM10.4607 8.62606C8.91207 8.62606 7.65622 9.88124 7.65622 11.4312C7.65622 12.9799 8.91207 14.2344 10.4607 14.2344C12.0094 14.2344 13.2664 12.9796 13.2664 11.4312C13.2664 9.88086 12.0094 8.62606 10.4607 8.62606ZM10.4607 13.2515C9.45598 13.2515 8.64012 12.4364 8.64012 11.4308C8.64012 10.4248 9.45598 9.61002 10.4607 9.61002C11.4666 9.61002 12.2817 10.4252 12.2817 11.4308C12.2817 12.4367 11.4666 13.2515 10.4607 13.2515ZM13.3764 7.86058C13.739 7.86058 14.0307 8.15304 14.0307 8.51529C14.0307 8.87755 13.739 9.17039 13.3764 9.17039C13.0153 9.17039 12.7202 8.87679 12.7202 8.51529C12.7202 8.15266 13.0149 7.86058 13.3764 7.86058Z" fill="#fff" /> 
          </svg> </a> 
        </div> 
        <div class="copyright"> 
         <p>© <script>document.write( +(new Date).getFullYear());</script> brandOptics</p> 
         <ul> 
          <li class="nav-item"> <a class="nav-link" href="https://www.brandoptics.com/terms-and-conditions?hsLang=en">Terms &amp; Conditions</a> </li> 
          <li class="nav-item"> <a class="nav-link" href="https://www.brandoptics.com/privacy-policy?hsLang=en">Privacy Policy</a> </li> 
         </ul> 
        </div> 
        <!--                <p>© <script>document.write( +(new Date).getFullYear());</script> brandOptics</p> --> 
       </div> 
      </div> 
     </div> 
    </footer> 
    <!-- </footer> -->
   </div> 
  </div> 


  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" defer></script>
  <script>
      AOS.init();
</script> 
  <script src="/main.min.js" defer></script> 
    <script src="/owl.carousel.min.js" defer></script> 
  <script>
var hsVars = hsVars || {}; hsVars['language'] = 'en';
</script> 
<script src="/hs/hsstatic/keyboard-accessible-menu-flyouts/static-1.17/bundles/project.js" is:inline></script>
<script src="/hs/hsstatic/cos-i18n/static-1.53/bundles/project.js" is:inline></script>
  <script src="/module_V2About_Banner.min.js" defer></script> 
  <script src="https://www.brandoptics.com/hubfs/pagination.min.js"></script> 
  <script src="/module_V2Work_New_Design.min.js" defer></script> 
  <!-- Start of HubSpot Analytics Code Not Loaded --> 
  <script>
(function(){
  const timeoutEvent = document.createEvent('CustomEvent');
  timeoutEvent.initCustomEvent("content-analytics-code-not-loaded", true, true, { detail: "Not loaded in preview mode" });
  window.dispatchEvent(timeoutEvent);
})();
</script> 
  <!-- End of HubSpot Analytics Code Not Loaded --> 
  <script type="text/javascript">
var hsVars = {
    render_id: "48917419-a51d-46f5-a8d6-746a59d54f81",
    ticks: 1735808949512,
    page_id: 154610739104,
    
    content_group_id: 0,
    portal_id: 44154404,
    app_hs_base_url: "https://app.hubspot.com",
    cp_hs_base_url: "https://cp.hubspot.com",
    language: "en",
    analytics_page_type: "standard-page",
    scp_content_type: "",
    analytics_page_id: "154610739104",
    category_id: 1,
    folder_id: 0,
    is_hubspot_user: null
}
</script> 
  <script defer src="/hs/hsstatic/HubspotToolsMenu/static-1.393/js/index.js"></script> 
  <script type="text/javascript" src="https://unpkg.co/gsap@3/dist/gsap.min.js"></script> 
  <!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script> --> 
  <script src="https://assets.codepen.io/16327/ScrollTrigger.min.js"></script> 

<script>
  import Lenis from '@studio-freight/lenis';

  const lenis = new Lenis({
    duration: 1.2,
    easing: (t) => Math.min(1, 1.001 - Math.pow(2, -10 * t)),
  });

  function raf(time) {
    lenis.raf(time);
    requestAnimationFrame(raf);
  }

  requestAnimationFrame(raf);
</script>
  <script type="text/javascript">
//       Cursor new
    const cursor = document.querySelector('.cursor');
    const cursorCircle = cursor.querySelector('.cursor__circle');

    const mouse = { x: -100, y: -100 }; // mouse pointer's coordinates
    const pos = { x: 0, y: 0 }; // cursor's coordinates
    const speed = 0.5; // between 0 and 1

    const updateCoordinates = e => {
      mouse.x = e.clientX;
      mouse.y = e.clientY;
    }

    window.addEventListener('mousemove', updateCoordinates);


    function getAngle(diffX, diffY) {
      return Math.atan2(diffY, diffX) * 180 / Math.PI;
    }

    function getSqueeze(diffX, diffY) {
      const distance = Math.sqrt(
        Math.pow(diffX, 2) + Math.pow(diffY, 2)
      );
      const maxSqueeze = 0.15;
      const accelerator = 1500;
      return Math.min(distance / accelerator, maxSqueeze);
    }


    const updateCursor = () => {
    const diffX = Math.round(mouse.x - pos.x);
    const diffY = Math.round(mouse.y - pos.y);
  
      pos.x += diffX * speed;
      pos.y += diffY * speed;
  
    const angle = getAngle(diffX, diffY);
    const squeeze = getSqueeze(diffX, diffY);
  
    const scale = 'scale(' + (1 + squeeze) + ', ' + (1 - squeeze) +')';
    const rotate = 'rotate(' + angle +')';
    const translate = 'translate3d(' + pos.x + 'px ,' + pos.y + 'px, 0)';

      cursor.style.transform = translate;
      cursorCircle.style.transform = rotate + scale;
};

    function loop() {
      updateCursor();
      requestAnimationFrame(loop);
    }

    requestAnimationFrame(loop);



    const cursorModifiers = document.querySelectorAll('[cursor-class]');

    cursorModifiers.forEach(curosrModifier => {
        curosrModifier.addEventListener('mouseenter', function() {
          const className = this.getAttribute('cursor-class');
              cursor.classList.add(className);
          });

        curosrModifier.addEventListener('mouseleave', function() {
          const className = this.getAttribute('cursor-class');
              cursor.classList.remove(className);
        });
    });
// JavaScript
// Add mix-blend-mode: difference; to .cursor elements
    const cursors = document.querySelectorAll('.cursor');
    cursors.forEach(cursor => {
      cursor.style.mixBlendMode = 'difference';
    });

// Remove mix-blend-mode: difference; from .cursor elements when hovering over any image container
    const imageContainers = document.querySelectorAll('.image-container');

    imageContainers.forEach(imageContainer => {
    imageContainer.addEventListener('mouseenter', function() {
      cursors.forEach(cursor => {
        cursor.style.mixBlendMode = 'unset';
      });
    });

    imageContainer.addEventListener('mouseleave', function() {
      cursors.forEach(cursor => {
        cursor.style.mixBlendMode = 'difference';
      });
    });
  });  
 </script> 
  <!--  Center Slider --> 
  <script>
//     var owl = $('.owl-carousel');
//       owl.owlCarousel({
//           items:1.1,
//           loop:true,
//           margin:24,
//           autoplay:true,
//           autoplayTimeout: 2000,
//           autoplayHoverPause:false,
//           center: true,
//           autoplaySpeed: 900,
//           dots: false,
//       });
  var owl = $('.owl-carousel');
owl.owlCarousel({
    items: 1.1,         // Number of items to display
    loop: true,         // Enables infinite looping
    margin: 24,         // Space between items
    autoplay: true,     // Enables autoplay
    autoplayTimeout: 3000,
    autoplayHoverPause: false,
    nav: true,
    navText:["<div class='nav-btn prev-slide'></div>","<div class='nav-btn next-slide'></div>"],
    center: true,       // Centers the active item
    autoplaySpeed: 1500,
    dots: false,
    stagePadding: 50,   // Adds padding on either side of items to show next/previous parts
    responsive: {
        0: {
            items: 1,            // Adjust items to 1 for mobile view
            stagePadding: 60     // Adjust padding for mobile to show portions of items
        },
        768: {
            items: 1.1,          // Sets items back to 1.1 for larger screens
            stagePadding: 50
        }
    }
});

</script> 
  <!--  scale image --> 
  <script>
  jQuery(window).scroll(function(){
  var scroll = jQuery(window).scrollTop();
  if((scroll > 0)&&(scroll < 5500)){
    jQuery('.image-holder').addClass('scale-img');
  }
  else if(scroll > 5500){
    jQuery('.image-holder').removeClass('scale-img');
  }
})
    </script> 
 </main>

 <style>
main{
	padding-top:0px !important;
	}
</style>
